_ReSharper*
bin/
obj/
*.suo
*.sln.cache
*.swp
*.user
*.pidb
.idea/
node_modules/
logs/
packages/
.deploy/
.vs/
settings/*
Backup*
UpgradeLog*
_UpgradeReport*
*.sln.cache
.*.swp
.nuget/NuGet.exe
*.DotSettings.user
tmp