<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.0.0" targetFramework="net472"/>
  <package id="AutofacSerilogIntegration" version="2.0.1-dev-00031" targetFramework="net472"/>
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net472"/>
  <package id="Serilog" version="2.7.1" targetFramework="net472"/>
  <package id="Serilog.Enrichers.Thread" version="3.0.1-dev-00728" targetFramework="net472"/>
  <package id="Serilog.Sinks.Debug" version="1.0.1" targetFramework="net472"/>
  <package id="Serilog.Sinks.EventLog" version="3.1.0" targetFramework="net472"/>
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472"/>
</packages>